

<div class="search-box">
  <form id="form">
    <label id="label"> Select a field of expretise you need  an employee for </label>
    <div class="search">
      <div class="project">
        <select class="skill-id" type="number
        " id="skill-name" >
                  <option placeholder="select">Select</option>
                  {{#each allSkills as |skill|}}
                    <option value="{{skill.id}}" {{#if  (isEqual selected_skill_id skill.id)}} selected {{/if}}>{{skill.skill_name}}</option>
                    {{/each}}
                </select>
{{!--                 
        <select class="skill-id">
          <option placeholder="select"></option>
          <option value="1">HTML</option>
          <option value="2 ">CSS </option>
          <option value="3">JAVA SCRIPT</option>
          <option value="4">ActiveVFP </option>
          <option value="5">ASP</option>
          <option value="6">ASP.NET</option>
          <option value="7">.NET</option>
          <option value="8">Java </option>
          <option value="9">Angular </option>
          <option value="10">C++ </option>
          <option value="11">AmazonAWS </option>
          <option value="12">SQL </option>
          <option value="13">R </option>
          <option value="14">React </option>
          <option value="15">Python </option>
          <option value="16">NodeJS </option>
          <option value="17" >ExpressJS </option>
          <option value="18">Ruby </option>
          <option value="19">C# </option>
          <option value="20">MongoDB </option>
        </select> --}}
       
      </div>
      <button class="search" type="submit">Search</button>
      
  
    </div>
    <div>
      {{#if SkillName}}
      <h2 id="SetSkillName">See candidates with  {{SkillName.skill_name}} skill</h2>
      {{/if}}
    </div>
  </form>
</div>


</div>
<div class="container">
  {{#each usersWithSkill as |expert|}}

  <div class="card">
    <h2>{{expert.first_name}} {{expert.last_name}} </h2>

    {{#each expert.UserSkills as |SkillLevel|}}

    <h2> skill level:{{SkillLevel.level}} </h2>
    {{/each}}

    <h2> {{expert.email}} </h2>
    <ul>

    </ul>
  </div>


  {{/each}}
</div>
</div >
  <script src="/js/search.js"></script>