<div class="search-box">
  <form id="form">
    <label id="label">Select a field of expretise you need an employee for:</label>
    <div class="search">
      <div class="project">
        <select class="skill-id" type="number" id="skill-name">
          <option placeholder="select">Select Skill</option>
          {{#each allSkills as |skill|}}
          <option value="{{skill.id}}" {{#if SkillName}} 
                         {{#if (isEqual SkillName skill.skill_name) }} selected {{/if}}
                         {{/if}}>
            {{skill.skill_name}}</option>
          {{/each}}
        </select>
      </div>
      <button class="search" type="submit">Search</button>
    </div>
    <div>
      {{#if SkillName}}
      <h2 id="SetSkillName">See candidates with {{SkillName.skill_name}} skills</h2>
      {{/if}}
    </div>
  </form>
</div>
</div>
<div class="container">
  {{#each usersWithSkill as |expert|}}
  <div class="card">
    <h2>{{expert.first_name}} {{expert.last_name}} </h2>
    {{#each expert.UserSkills as |SkillLevel|}}
    <h2>Skill level: {{SkillLevel.level}}</h2>
    {{/each}}
    <h2><a id="email" href="mailto:{{expert.email}}">{{expert.email}}</a></h2>
    <ul>
    </ul>
  </div>
  {{/each}}
</div>
</div>
<script src="/js/search.js"></script>